# OS
.DS_Store
Thumbs.db

# Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.swp

# Tooling
node_modules/
vendor/
*.log

# Local environment
.env
.env.local

# Backups
*.bak
*.orig
*.sql
